<html lang="en">
  <head>
    <title>Yazan Abuashour</title>
    <meta name="description" content="Engineering Technology" />
  </head>
  <body>
    <div
      class="flex min-h-screen flex-col items-center justify-center bg-gray-800"
    >
      <div
        class="flex w-4/5 max-w-lg flex-col items-center justify-between sm:max-w-6xl sm:flex-row"
      >
        <div
          class="mb-8 w-full text-center text-white sm:mb-0 sm:w-1/2 sm:text-left"
        >
          <h1 class="mb-4 text-4xl font-bold">Yazan Abuashour</h1>
          <p class="mb-8 text-lg text-gray-200">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            pretium velit at velit porta lobortis.
          </p>
          <a
            href="#"
            class="rounded bg-emerald-500 px-4 py-2 font-bold text-white hover:bg-emerald-700"
          >
            Get Started
          </a>
        </div>
        <div class="w-full sm:w-1/2">
          <img
            class="mb-8 rounded-lg sm:mb-0"
            src="https://via.placeholder.com/720x400"
            alt="Hero Image"
          />
        </div>
      </div>
    </div>
  </body>
</html>
